.apple-popup .mapboxgl-popup-content {
  background-color: transparent;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  line-height: 1.3em;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
html {
  padding: 0;
  padding: 0;
  box-sizing: border-box;
}

.map-wrap {
  min-height: 100vh;
}

.map {
  display: flex;
  height: calc(100vh - 68px);
}

.left-side {
  min-width: 280px;
  padding: 10px;
}

.navbar {
  background-color: #343a40;
  padding: 15px;
}

.navbar .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .inner a,
.navbar .inner button {
  color: #fff;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 16px !important;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 0 10px;
}

.navbar h2 {
  color: white;
  margin: 0;
  padding: 0;
}

.navbar .inner a {
  background-color: #007bff;
  border-color: #007bff;
  text-decoration: none;
}

.navbar .inner button {
  background-color: #dc3545;
  border-color: #dc3545;
}

.right-side {
  flex: 1;
  position: relative;
}

.mapContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px 0;
  color: #ffffff;
  z-index: 1 !important;
  font-weight: bold;
  width: 100%;
  padding: 6px 10px;
  width: fit-content;
  background-color: #404040;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login section {
  max-width: 500px;
  width: 100%;
}

.login form {
  width: 100%;
}

.login h2 {
  text-align: center;
}

.login form div:first-child {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  width: 100%;
}

.login form input {
  width: 200px;
  height: 30px;
  padding: 6px;
}

.login form div:last-child {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.login form button {
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  margin-left: 8px;
  font-size: 12px;
  background-color: #007bff;
}

